table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  height: calc(100% - 1px);
  transition: all 0.3s cubic-bezier(0.35, 0, 0.25, 1);

  text-align: center;
  border: 1px solid #ececec;
}
thead tr {
  background-color: #137c7e !important;
  min-height: 48px;
}

thead tr th {
  color: #fff !important;
  // border: 1px solid #ececec;
}

table th,
table td {
  // text-align: center;
  padding: 15px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
  color: rgba(0, 0, 0, 0.87);
  font-size: 16px !important;

  // border: 1px solid #ececec;
}

// table tr:nth-child(even) {
//     background-color: ;
// }

table tr:hover {
  background-color: white;
}

table th {
  padding-top: 12px;
  padding-bottom: 12px;
  // background-color: white;
  // text-align: center;
  color: black !important;
  font-size: 16px !important;
  font-weight: 600;
  border: 0;
}

tbody tr {
  background-color: white;
  min-height: 48px;

  transition: transform 0.3s ease; /* Add transition for the transform property */

  &:hover {
    min-height: 48px;
    border-right: none;
    border-left: 3px solid #137c7e;
    background-color: #ececec;

    // transform: scale(1.02); /* Apply zoom effect on hover */
  }
  td {
    // padding-top: 7px;
    // padding-bottom: 7px;
    p {
      margin-bottom: 0 !important;
      font-weight: 600 !important;
    }
  }
}


.buttonwrapper {
  width: 200px;
}

* {
  font-family: "Mada", sans-serif;
  font-size: inherit;
  font-weight: 400;
}

.css-1rxz5jq-MuiSelect-select-MuiInputBase-input-MuiInput-input {
  &:focus {
    background-color: #fff !important;
    padding: 0;
  }
}

.table-responsive {
  margin-top: 10px;
}
